/* Affects the whole board */
body {
    margin: 0;
}

#battle-command {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 70vh 30vh;
}

/* Upper left corner */
#player-info {
    display: grid;
    grid-template-rows: 30% 40% 30%;
    grid-template-columns: 100%;
}

.profile-namebox {
    background: gray;
}
.profile-nametag {
    text-align: center;
    margin-top: -1px;
    padding-top: 5px;
}

#opponent-info {
    background: pink;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
}

#opp-profile {
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 100%;
}

.profile-image {
    height: 9vw;
    width: 9vw;
}

.totals-zone {
    background: gray;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 100%;
}

#deck-zone {
    background: gray;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}

#opp-grave {
    padding: 5px 2.5px 2.5px 5px;
}

#oppgrave {
    height: 100%;
    width: 100%;
}

#opp-deck {
    padding: 5px 5px 2.5px 2.5px;
}

#oppdeck {
    height: 100%;
    width: 100%;
}

#my-grave {
    padding: 2.5px 2.5px 5px 5px;
}

#mygrave {
    height: 100%;
    width: 100%;
}

#my-deck {
    padding: 2.5px 5px 5px 2.5px;
}

#mydeck {
    height: 100%;
    width: 100%;
}

#my-info {
    background: purple;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
}

#my-profile {
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 100%;
}

#player-info {
    background: pink;
}

/* Upper center area */
#battlefield {
    background: lightyellow;
    display: grid;
    grid-template-rows: 32% 4% 64%;
}

#opponent-zone {
    background: lightgray;
}

#battle-line {
    background: darkred;
}

#my-zone {
    background: lightslategray;
}

/* Upper right corner */
#quick-glance {
    background: gray;
    display: grid;
    grid-template-rows: 50% 50%;
}

#quick-glance1 {
    height: 50%;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
}

#quick-glance2 {
    height: 50%;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
}

/* Lower left corner */
#turn-info {
    background: lightgreen;
    display: grid;
    grid-template-rows: 10% 90%;
}

/* Lower center area */
#hand {
    background: peachpuff;
    display: grid;
    grid-template-rows: 10% 90%;
}

/* Lower right corner */
#logs {
    background: lavenderblush;
    display: grid;
    grid-template-rows: 10% 90%;
}